<h1 class="text-primary">Reports</h1>
<br/>

<div>
    <button class="btn btn-info my-2 my-sm-0"  onclick="location.href='@Url.Action("Report1", "Reports")'">Report 1</button>
    <button class="btn btn-info my-2 my-sm-0" onclick="location.href='@Url.Action("Report2", "Reports")'">Report 2</button>
    <button class="btn btn-info my-2 my-sm-0" onclick="location.href='@Url.Action("Report3", "Reports")'">Report 3</button>
    <button class="btn btn-info my-2 my-sm-0" onclick="location.href='@Url.Action("Report4", "Reports")'">Report 4</button>
</div>